*{
  margin:0;
  padding:0;
  font-family: 'Goudy Bookletter 1911', serif;
}

body {
  font-family: Arial, sans-serif;
  font-size:large;
  background-color: #f4f4f4;
  min-height:100vh;
  width:100%;
  background-position: center center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../Images/background-img.webp);
}


.form-container {
  display: none;
  flex-wrap: none;
  gap: 20px;
}


form {
  display: flex;
  flex-direction: column;
}

.form-group {
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

.form-group label,
.form-group input {
margin-bottom: 5px;
}

table{
  width: 100%;
}

table, th, td {
  border:1px solid black;
}

td{
  width: 50px;
  padding: 5px;
}

fieldset{
  margin-bottom: 5%;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-left: 1%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  margin-right: 20px;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    width: 94%;
    margin: 5% auto;
    margin-top: 5%;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
    margin-right: 0; 
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.logo-img {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


header{
  background-color: black;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}

legend{
  text-align: center;
}


section label input {
  margin-right: 10px;
}


.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons */
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  align-items: start;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

/* input group */
.input-group {
  display: flex;
  align-items: center;
}

.input-group label,
.input-group input {
  display: inline-block;
  margin-right: 10px;
}





