*{
  margin:0;
  padding:0;
  font-family: 'Goudy Bookletter 1911', serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: grey #ddd;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, grey 0%, grey 100%);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
/*------------------------------------------------------------------ Header ---------------------------------------------------------------------*/
header{
  background-color: black;
  width: 100%;
  position: absolute;
}


/*------------------------------------------------------------- Hamburger menu ------------------------------------------------------------------*/

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0;
}

.menu__btn {
  position:absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  
}
.menu__btn > span::after {
  content: '';
  background-color: rgb(255, 255, 255);
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000000;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #cfd8dc32;
  transform:scale(90%, 90%);
}

/*------------------------------------------------------------- Webpage design ------------------------------------------------------------------*/
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overlay {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay h2{
    color: black;
    font-weight: 900;
    margin: 2rem 3rem 0;
    mix-blend-mode: multiply;
    padding: 5px 15px;
    text-align: center;
}

.overlay .Main-heading{
  color: black;
  font-weight: 900;
  margin: 2rem 3rem 0;
  mix-blend-mode: multiply;
  padding: 5px 15px;
  text-align: center;
  font-size: xx-large;
}

.overlay .Sub-heading{
  color: black;
  font-weight: 900;
  margin: 2rem 3rem 0;
  mix-blend-mode: multiply;
  padding: 5px 15px;
  text-align: center;
}

.overlay .Main-para{
  color: black;
  font-weight: 900;
  font-size: 2.5vh;
  margin: 2rem 3rem 0;
  mix-blend-mode: multiply;
  padding: 5px 15px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

header {
	background:rgb(0, 0, 0);
	position: absolute;
	width: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	-webkit-transition: .4s;
	transition: .4s;
}

.section-header{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
}

.tokyo{
  margin-left: 20%;
}

h1{
  font-size: larger;
}

.adv-1 p{
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5%;
}

.adv-2 p{
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5%;
}

.logo-img{
  height: 40px;
}




table {
  width: 80%;
  margin-left: 10%;
  border-collapse: collapse;
}

th, td {
  padding: 2.5%;
  text-align: left;
}

.sect-article-2 p{
  padding-bottom: 17%;
}

.sect-article-2 h3{
  margin-left: 20%;
}

.img-1{
  float: left;
  width: 400px;
  height: 200px;
  margin-left: 20%;
  padding: 10px;
  object-fit: cover;
}

.img-2{
  float: right;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin-right: 25%;
  object-fit: cover;
}



.img-3{
  float: left;
  width: 400px;
  height: 200px;
  margin-left: 20%;
  padding: 10px;
  margin-bottom: 2.5%;
  object-fit: cover;
}

.maps{
  display: block;
  position: relative;
  width: 400px; 
  height: 200px;
  padding-left: 35%;
  padding-bottom: 1%;
  border: 0;
}

@media(max-width: 800px){

  .overlay .Main-para{
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    padding-bottom: 5%;
    mix-blend-mode: multiply;
    text-align: center;
  }


  .maps{
    display: block;
    position: relative;
    width: 150px; 
    height: 200px;
    padding-left: 30%;
    padding-bottom: 10%;
    border: 0;
  }


  .img-1{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    float:unset;
    padding:0;
    padding-left:0;
    object-fit:unset;
  }
  
  .img-2{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    float:unset;
    padding:0;
    padding-left:0;
    object-fit:unset;
  }
  
  .img-3{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    float:unset;
    padding:0;
    padding-left:0;
    object-fit:unset;
  }

  .sect-article-1 h3{
    margin-left: 20%;
  }

  .sect-article-3 h3{
    margin-left: 20%;
  }
}


footer{
  color: whitesmoke;
  background-color: #070504;
  text-align: center;
  padding-top: 2.5%;
}


/*------------------------------------------------------------------ Sliders --------------------------------------------------------------------*/

.container{
  padding: 2rem;
}

.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover; 
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;   
}

/*---------------------------------------------------------------------- footer ----------------------------------------------------------------*/
.footer-logo{
  height: 40px;
  float: left;
}


footer{
  color: whitesmoke;
  height:310px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../Images/foot-background2.png);
  background-repeat:no-repeat;
  background-size:100%;
  background-position: bottom;
  text-align: center;
  padding-top: 2.5%;
}

.text-center{
  text-align: center;
  padding-left: 30%;
  padding-top: 9%;
}

.foot-header{
  text-align: center;
}

.footer-1{
  float: left;
  margin-left: 5%;
}

.footer-2{
  margin-top:0%
}

.form h3{
  text-align: center;
  margin-left: 65%;
}

.form p{
  font-size: 9pt;
  margin-left: 70%;
}

.footer-3{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 5px;
  margin-left: 41.5%;
  margin-top: 5%;
}

.ft-links{
  text-align: center;
  font-family: 'Goudy Bookletter 1911', serif;
  text-decoration: none;
  color: white;
}

footer .form-control {
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.87);
  resize: none;
  color: black;
  padding: 0.7em 1em;
}

form{
  float: right;
  margin-right: 10%;
  border:none;
}

fieldset{
  border: none;
  padding-bottom: 10%;
}

.footer-btn{
  border-radius: 5%;
}



.social-icons{
  width: 30px;
  height: 30px;
  margin-top: 5%;
  transition: 250ms;
}

.social-icons:hover{
  transform: scale(1.3);
}



.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media (max-width:800px){
  .footer-logo{
      height:0;
      margin-left:0;
  }
  
  
  footer{
    color: whitesmoke;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../Images/foot-background2x2.jpg);
    background-repeat:repeat;
    background-size:cover;
    background-position:unset;
    text-align: center;
    padding-top: 2.5%;
  }
  
  .foot-header{
    text-align: center;
    margin-bottom: 2%;
  }
  
  .footer-1{
    margin-left:40%;
    margin-right: 0;
    margin-top: 0;
    padding-top: 10%;
    margin-bottom: 10%;
  }
  
  .footer-2{
      margin-top: 60%;
      margin-right: 10%;
  }

  .footer-2 h3{
    text-align: center;
    margin-left: 10%;
  }
  
  .footer-2 p{
    font-size: 10pt;
    margin-left: 10%;
  }

  .footer-3{
      margin-left: 15%;
      margin-top: 60%;
      padding-bottom: 10%;
  }

  .ft-links{
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    text-decoration: none;
    color: white;
  }
  
  footer .form-control {
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.87);
    resize: none;
    color: black;
    padding: 0.7em 1em;
  }
  
  form{
    float: right;
    margin-right:10%;
    border:none;
  }
  
  fieldset{
    border: none;
    padding-bottom: 10%;
  }
  
  .footer-btn{
    border-radius: 5%;
  }
  
  
  
  .social-icons{
    width: 20px;
    height: 20px;
    margin-left: 70%;
    margin-top:700%;
    transition: 250ms;
  }
  
  .social-icons:hover{
    transform: scale(1.3);
  }
  
  .text-center{
    padding-right: 30%;
  }
  
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}